<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Suite_1">
    <classes>
      <class name="Day1.AssertClass_TestNG"/>
      <class name="Day1.Demo1_TestNG"/>
      <class name="Day1.Demo2_TestNG"/>
      <class name="Day1.SoftAssertion"/>
    </classes>
  </test> <!-- Suite_1 -->
</suite> <!-- Suite -->
